bin/
*.exe
*.log
*.test
*.out
*.so
*.a
*.o
*.dll
*.exe~
*.cgo1.go
*.cgo2.c
*.cgo3.c
*.syso
.DS_Store


.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

node_modules/
.idea/
.vscode/
*.swp
*.swo
*.iml

Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
*.un~
*.swp
